X_DOCKER_USERNAME=YOUR_USERNAME
X_DOCKER_PASSWORD=YOUR_PASSWORD
X_DOCKER_REPO=YOUR_REPO
X_MONGO_HOST=your_mongodb_host

X_S3_TEST_REPORT_BUCKET_URL=YOUR_S3_BUCKET_URL
X_S3_TEST_REPORT_ACCESS_KEY_ID=
X_S3_TEST_REPORT_SECRET_ACCESS_KEY=

X_SLACK_WEB_HOOK=YOUR_SLACK_WEB_HOOK


X_AWS_ECR_ACCESS_KEY_ID=
X_AWS_ECR_SECRET_ACCESS_KEY=
X_AWS_ECR_REGION=
X_AWS_ECR_REGISTRY_ID=
